<article class="instapaper_body">
  <header>
    <h2 class="instapaper_title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  </header>
  {% if content %}
    {{ content }}
  {% else %}
    {{ post.content }}
  {% endif %}
  <footer class="group">
    <p>
      {% if post.source %}
        <a class="icon" href="{{ post.source }}" title="{{ post.title }}" rel="external">Source</a>
      {% else %}
      <!--a class="icon" href="http://www.instapaper.com/hello2?u={{ site.url | url_encode }}{{ post.url | url_encode }}&amp;title={{ post.title | url_encode }}" rel="alternate" title="Save to Instapaper">Read Later</a-->
      {% endif %}
    </p>
  </footer>
</article>